/* --- TABLE OF STYLES --- */
/* ---                 --- */
/* MOBILE FIRST            */
/* MOBILE STYLES - HEADER  */
/* MOBILE STYLES - MAIN    */
/* MOBILE STYLES - FOOTER  */
/* DESKTOP STYLES          */
/* @MEDIA                  */

/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}
/* MOBILE FIRST  */

.container {
  min-width: 320px;
  margin: 0 auto;
}

/* MOBILE STYLES - HEADER  */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 1.12rem;
}

header ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: #9f9f9f;
}

header ul li a:hover {
  color: black;
  text-decoration: underline;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.icons a:hover {
  animation: spin-and-scale 0.6s ease;
}

@keyframes spin-and-scale {
  0% {
    transform: scale(1.5) rotate(0deg);
  }
  100% {
    transform: scale(2) rotate(360deg);
  }
}

.icon:hover {
  animation: spin-and-scale 0.6s ease;
}

.bg-img {
  height: 136px;
  object-fit: cover;
  object-position: center;
}

/* MOBILE STYLES - MAIN    */

main {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.03);
  transition: ease-in-out 0.5s;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.62rem;
  order: -1;
}

.card .title-container h2 {
  font-family: "Cardo", serif;
  font-size: 1.12rem;
}

.card .title-container span {
  font-size: 0.68rem;
  color: rgba(0, 0, 0, 0.6);
}

.card-text {
  font-size: 0.68rem;
  line-height: 1.03rem;
  color: rgba(0, 0, 0, 0.87);
  width: fit-content;
  padding-bottom: 0.68rem;
}

.product-img {
  height: 108px;
  object-fit: cover;
  object-position: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* MOBILE STYLES - FOOTER  */

footer {
  width: 100%;
  margin-top: 1.06rem;
  background: linear-gradient(to bottom, #9f9f9f 0%, #fbfbfb 10%, #ffffff 100%);
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.footer-content:first-child {
  border-bottom: 2px solid #c4c4c4;
}

.footer-content h2 {
  font-size: 1.87rem;
  font-weight: bold;
  padding-top: 3.87rem;
}

.footer-content ul {
  text-align: center;
  margin-bottom: 2.93rem;
}

.footer-content ul li {
  margin-top: 1.06rem;
}

.footer-content ul li a {
  font-size: 1.06rem;
  color: #9f9f9f;
}

.footer-content ul li a:hover {
  color: black;
}

@media only screen and (min-width: 940px) {
  .container {
    min-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    max-width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4.68rem;
    margin-right: 4.68rem;
  }

  header ul li a {
    padding-right: 6.75rem;
  }

  .icons {
    margin-top: 2.18rem;
    gap: 1.87rem;
  }

  .bg-img {
    height: 250px;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 606px;
    grid-template-rows: 1fr repeat(2, 60px);
    grid-column-gap: 26px;
    grid-row-gap: 0px;
    margin-top: 1.93rem;
  }

  .title-container {
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-start;
    grid-area: 1 / 2 / 3 / 3;
  }

  .title-container h2 {
    margin-top: 0.5rem;
  }

  .card-text {
    font-size: 1rem;
    line-height: 1.87rem;
    text-align: justify;
    grid-area: 3 / 2 / 5 / 3;
  }

  .product-img {
    width: 308px;
    height: 100%;
    grid-area: 1 / 1 / 5 / 2;
  }

  .card .title-container h2 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  .card .title-container span {
    font-size: 1.06rem;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.75rem;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-content {
    padding-right: 7.75rem;
    padding-left: 7.75rem;
    margin-top: 2.87rem;
    margin-bottom: 2.87rem;
  }

  .footer-content h2 {
    padding-top: 1rem;
  }

  .footer-content:first-child {
    border-bottom: none;
    border-right: 2px solid #c4c4c4;
  }
}

@media only screen and (min-width: 1920px) {
  header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-container {
    width: 1920px;
    margin: 0 auto;
    padding-left: 3.12rem;
    padding-right: 3.12rem;
  }

  .bg-img {
    height: 336px;
  }

  footer {
    position: fixed;
    top: 336px;
    right: 0;
    width: 378px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fbfbfb;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 0.62rem;
    padding-right: 0.62rem;
    border-left: 2px solid #c4c4c4;
  }

  .footer-content {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #c4c4c4;
    padding: 1.25rem 0;
    padding-left: 3.12rem;
  }

  .footer-content:first-child {
    border-right: none;
  }

  .footer-content:last-child {
    border-bottom: none;
  }

  .footer-content h2 {
    font-size: 1.87rem;
    margin-bottom: 2.93rem;
  }

  .footer-content ul {
    text-align: left;
  }

  .footer-content ul li {
    margin: 1.06rem 0;
  }

  .footer-content ul li a {
    font-size: 1.06rem;
    color: #9f9f9f;
  }

  .footer-content ul li a:hover {
    color: black;
  }
}
